* {
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #e4d7c1;
}

header {
    background-color: #1c1800;
}

header span {
    color: #8a7f69;
}

header span:hover {
    color: #e4d7c1;
}

#nav-button {
    background-color: #603601;
    color: #faefe5;
}

#nav-button:hover {
    background-color: #e4d7c1;
    color: #603601;
}

.nav-item a {
    color: #CC9544;
}

.nav-item a:hover {
    background-color: #CC9544;
    color: #361500;
}

/*cambio para link visitado en el navegador
.nav-item a:visited{
    color:yellow;
}*/

.icon-square .bi {
    color: #CC9544;
    background-color: #1c1800;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 35px;
}

.img-proyecto1{
    background-image: url(/Portafolio/assets/clon-pinterest.JPG);
    background-size: contain;
    background-repeat: no-repeat;
}

.img-proyecto2{
    background-image: url(/Portafolio/assets/mi-tiendita.JPG);
    background-size: contain;
    background-repeat: no-repeat;
}