* {
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #e4d7c1;
}

header {
    background-color: #1c1800;
}

header span {
    color: #8a7f69;
}

header span:hover {
    color: #e4d7c1;
}

#nav-button {
    background-color: #603601;
    color: #faefe5;
}

#nav-button:hover {
    background-color: #e4d7c1;
    color: #603601;
}

.nav-item a {
    color: #CC9544;
}

.nav-item a:hover {
    background-color: #CC9544;
    color: #361500;
}

/*cambio para link visitado en el navegador
.nav-item a:visited{
    color:yellow;
}*/

.icon-square .bi {
    color: #CC9544;
    background-color: #1c1800;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 35px;
}

.img-proyecto1{
    background-image: url(/Portafolio/assets/clon-pinterest.JPG);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat;
    position: relative; /* Necesario para colocar el pseudo-elemento */
}
.img-proyecto1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.185);
    pointer-events: none;
} .img-proyecto1 .d-flex.flex-column {
    position: relative;
    z-index: 2;
}
.img-proyecto2{
    background-image: url(/Portafolio/assets/mi-tiendita.JPG);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat;
    position: relative; /* Necesario para colocar el pseudo-elemento */
}
.img-proyecto2::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.185);
    pointer-events: none;
} .img-proyecto1 .d-flex.flex-column {
    position: relative;
    z-index: 2;
}
footer{
    background-color: #503a2c;

}
footer .icon-footer i{
    color: red;
    font-size: 20px;
}
footer .nav-item a{
    color: #1c1800;
}
footer p{
    color: #1c1800;
}
footer p a{
    color: #1c1800;
}