* {
    font-family: "Oswald", sans-serif;
}

body {
    background-color: #f7efe8;
}

header {
    background-color: #00071c;
}

header span {
    color: #69758a;
}

header span:hover {
    color: #c1d1e4;
}

#nav-button {
    background-color: #020c41;
    color: #e5ebfa;
}

#nav-button:hover {
    background-color: #c1c3e4;
    color: #011760;
}

.nav-item a {
    color: #4464cc;
}

.nav-item a:hover {
    background-color: #4458cc;
    color: #000436;
}

/*cambio para link visitado en el navegador
.nav-item a:visited{
    color:yellow;
}*/

.icon-square .bi {
    color: #445dcc;
    background-color: #000a1c;
    padding: 0px 10px;
    border-radius: 50px;
    font-size: 35px;
}


.cardp{
   border-radius: 5%;
   padding: 4% 0 5%;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 33, 65, 0.185);
}
.card-body{
    padding-left: 4%;
}
.card-body:hover{
    color: #770f0f;
} 
.cardp .d-flex.flex-column {
    position: relative;
    z-index: 2;
}
footer{
    background-color: #2c3950;

}
footer .icon-footer i{
    color: red;
    font-size: 20px;
}
footer .nav-item a{
    color: #00051c;
}
footer p{
    color: #00051c;
}
footer p a{
    color: #00091c;
}

#app{
    color:rgb(68, 46, 83);
    font-size: 30px;
}